{% extends 'base.html' %} 
{% block content %}
<h1>Fun Trucking</h1>
<hr />
<p class="page-content">
    Fun Trucks is a company that specializes in selling trucks. We have a wide
    variety of trucks that you can choose from. We have trucks that are
    suitable for all types of terrains. Whether you are looking for a truck
    for off-road adventures or for everyday use, we have got you covered. Our
    trucks are of the highest quality and are built to last. We also offer
    financing options to make it easier for you to purchase your dream truck.
    Visit our showroom today and find the perfect truck for you!
</p>
{% endblock %}