{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}
{% block content %}


{% if error_message %}
    <p class="red-text">{{ error_message }}</p>
{% endif %}

<div class="content-container">
    <div class="image-container">
        <img src="{% static 'images/truck1.jpg' %}" alt="A truck" />
    </div>
    <div class="form-container">
        <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn submit">Submit!</button>
        </form>
    </div>
</div>

{% endblock %}
